---
import QuickApi from "../components/quickapi";
import "../components/landing-page.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="quickapiLogo.png"></link>
    <title>QuickAPI - Blazing-fast API Mock Tool</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="max-w-6xl mx-auto px-4 py-2">
      <QuickApi/>
    </div>
  </body>
</html>
